.outputContainer {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;


  .output {
    white-space: normal;
    overflow-wrap: break-word;
    min-height: 50px;
    max-width: 100%;


    .description {
      color: #919191;
    }

    .error {
      margin-top: 10px;
      padding: 10px;
      border: 1px solid red;
      background-color: #ffe6e6;
      border-radius: 5px;
    }
  }
}